In [2]:
import os

In [3]:
os.listdir()

['.git', '.ipynb_checkpoints', 'data', 'EDA.ipynb']

In [4]:
os.listdir('data/')

['departments_normalized.csv',
 'department_avg_net_stats.csv',
 'department_names.csv',
 'department_placed_preferences.csv',
 'department_placed_preference_ranks.csv',
 'department_placed_pref_uni_type.csv',
 'department_preferences.csv',
 'department_preference_ranks.csv',
 'department_stats.csv',
 'department_tags.csv',
 'department_years.csv',
 'faculty_names.csv',
 'lessons.csv',
 'scholarship_types.csv',
 'score_types.csv',
 'tags.csv',
 'universities_normalized.csv',
 'university_cities.csv',
 'university_types.csv',
 'years.csv']

In [5]:
import pandas as pd

In [6]:
filename = os.listdir('data/')

In [7]:
filename

['departments_normalized.csv',
 'department_avg_net_stats.csv',
 'department_names.csv',
 'department_placed_preferences.csv',
 'department_placed_preference_ranks.csv',
 'department_placed_pref_uni_type.csv',
 'department_preferences.csv',
 'department_preference_ranks.csv',
 'department_stats.csv',
 'department_tags.csv',
 'department_years.csv',
 'faculty_names.csv',
 'lessons.csv',
 'scholarship_types.csv',
 'score_types.csv',
 'tags.csv',
 'universities_normalized.csv',
 'university_cities.csv',
 'university_types.csv',
 'years.csv']

In [8]:
cud = %pwd

In [10]:
name={}
for i in (filename):
    name[i.strip('.csv')]=pd.read_csv(f'data/{i}',low_memory=False)

In [11]:
name

{'departments_normalized':        program_code  department_name_id  faculty_name_id  university_id  \
 0         103390230                   1                1            115
 1         108690161                   2                2            147
 2         104590132                   2                3            242
 3         103290214                   2                4            164
 4         109190059                   2                5            162
 ...             ...                 ...              ...            ...
 32500     106010337                 733              275            399
 32501     107910219                 733              275            309
 32502     109810365                 733              275            278
 32503     110210463                 733              275            304
 32504     105290179                 733              275            119

        score_type_id  scholarship_type_id  is_undergraduate  \
 0                  1                    1              True
 1                  2                    1             False
 2                  2                    1             False
 3                  2                    1             False
 4                  2                    1             False
 ...              ...                  ...               ...
 32500              3                    1              True
 32501              3                    1              True
 32502              3                    1              True
 32503              3                    1              True
 32504              3                    1              True

                                years tags
 0                               2024  NaN
 1      2019,2020,2021,2022,2023,2024  NaN
 2           2020,2021,2022,2023,2024  NaN
 3           2020,2021,2022,2023,2024  NaN
 4                2021,2022,2023,2024  NaN
 ...                              ...  ...
 32500  2019,2020,2021,2022,2023,2024  NaN
 32501  2019,2020,2021,2022,2023,2024  NaN
 32502  2019,2020,2021,2022,2023,2024  NaN
 32503  2019,2020,2021,2022,2023,2024  NaN
 32504                           2024  NaN

 [32505 rows x 9 columns],
 'department_avg_net_stat':          program_code  year  lesson_id  coefficient_type  average_net
 0           108990307  2024          1              0.12          3.4
 1           107310473  2024          1              0.12          2.1
 2           103730146  2024          1              0.12          2.3
 3           102710387  2024          1              0.12          3.9
 4           101490475  2024          1              0.12          1.8
 ...               ...   ...        ...               ...          ...
 1009783     100710012  2019         16              0.18         67.5
 1009784     101410375  2019         16              0.18         66.3
 1009785     101010122  2019         16              0.18         73.8
 1009786     102210056  2019         16              0.18         72.6
 1009787     206011007  2021         16              0.18         40.5

 [1009788 rows x 5 columns],
 'department_name':      department_name_id                             department_name
 0                     1                     Abaza Dili ve Edebiyatı
 1                     2                 Acil Durum ve Afet Yönetimi
 2                     3                Acil Yardım ve Afet Yönetimi
 3                     4               Açık Deniz Sondaj Teknolojisi
 4                     5  Açık Deniz Tabanı Uygulamaları Teknolojisi
 ..                  ...                                         ...
 728                 729                     Yunan Dili ve Edebiyatı
 729                 730                      Zaza Dili ve Edebiyatı
 730                 731    Zeytincilik ve Zeytin İşleme Teknolojisi
 731                 732             Ziraat Mühendisliği Programları
 732                 733                                    Zootekni

 [733 rows x 2 columns],
 'department_placed_preference':         program_code  year  placed_count  placed_pref_rank_avg  \
 0          103390230  2024            22                   3.5
 1          103390149  2024            54                   9.0
 2          101370272  2024            54                  10.2
 3          206552026  2024             8                   5.2
 4          107390189  2024            53                  10.8
 ...              ...   ...           ...                   ...
 128347     106010337  2019             8                   2.8
 128348     101410939  2019            10                   6.0
 128349     110210463  2019             5                   6.6
 128350     102710581  2019            31                   5.4
 128351     109810365  2019            13                   2.8

         placed_top_1_pref_count  placed_top_3_pref_count  \
 0                            16                       16
 1                             5                       13
 2                             5                       14
 3                             2                        4
 4                             5                       12
 ...                         ...                      ...
 128347                        4                        5
 128348                        2                        4
 128349                        0                        1
 128350                        7                       13
 128351                        4                       10

         placed_top_10_pref_count
 0                             20
 1                             33
 2                             29
 3                              7
 4                             25
 ...                          ...
 128347                         8
 128348                         8
 128349                         3
 128350                        26
 128351                        13

 [128352 rows x 7 columns],
 'department_placed_preference_rank':          program_code  year  rank_level  count
 0           103390230  2024           1     16
 1           103390149  2024           1      5
 2           101370272  2024           1      5
 3           206552026  2024           1      2
 4           107390189  2024           1      5
 ...               ...   ...         ...    ...
 3080443     106010337  2019          24      0
 3080444     101410939  2019          24      0
 3080445     110210463  2019          24      0
 3080446     102710581  2019          24      0
 3080447     109810365  2019          24      0

 [3080448 rows x 4 columns],
 'department_placed_pref_uni_type':         program_code  year  university_type_id  placed_pref_count
 0          103390230  2024                   1                144
 1          103390149  2024                   1                862
 2          101370272  2024                   1                984
 3          206552026  2024                   1                 21
 4          107390189  2024                   1                912
 ...              ...   ...                 ...                ...
 513403     106010337  2019                   4                  0
 513404     101410939  2019                   4                  0
 513405     110210463  2019                   4                  0
 513406     102710581  2019                   4                  0
 513407     109810365  2019                   4                  1

 [513408 rows x 4 columns],
 'department_preference':         program_code  year  total_preferences  demand_per_quota  \
 0          103390230  2024                350              15.9
 1          103390149  2024               1567              29.0
 2          101370272  2024               1269              23.5
 3          206552026  2024                165              18.3
 4          107390189  2024               1318              24.4
 ...              ...   ...                ...               ...
 128347     106010337  2019                 61               3.8
 128348     101410939  2019                 77               3.7
 128349     110210463  2019                 45               2.8
 128350     102710581  2019                179               5.0
 128351     109810365  2019                 79               3.8

         avg_preference_rank  top_1_pref_count  top_3_pref_count  \
 0                      11.2                39                74
 1                      10.0               102               308
 2                      10.3                52               216
 3                       9.6                12                34
 4                      11.4                56               176
 ...                     ...               ...               ...
 128347                 10.2                 4                11
 128348                 10.9                 2                 5
 128349                 10.7                 0                 8
 128350                 10.7                 7                21
 128351                 11.0                 4                11

         top_9_pref_count
 0                    158
 1                    825
 2                    643
 3                     86
 4                    570
 ...                  ...
 128347                33
 128348                39
 128349                20
 128350                82
 128351                35

 [128352 rows x 8 columns],
 'department_preference_rank':          program_code  year rank_level  count
 0           103390230  2024          1     39
 1           103390149  2024          1    102
 2           101370272  2024          1     52
 3           206552026  2024          1     12
 4           107390189  2024          1     56
 ...               ...   ...        ...    ...
 1283515     106010337  2019        10+     28
 1283516     101410939  2019        10+     38
 1283517     110210463  2019        10+     25
 1283518     102710581  2019        10+     97
 1283519     109810365  2019        10+     44

 [1283520 rows x 4 columns],
 'department_stat':         program_code  year  total_quota  total_enrolled  male  female  \
 0          103390230  2024           22              22    13       9
 1          103390149  2024           54              54    15      39
 2          101370272  2024           54              54    18      36
 3          206552026  2024            9               8     4       4
 4          107390189  2024           54              53    17      36
 ...              ...   ...          ...             ...   ...     ...
 128347     106010337  2019           16               8     7       1
 128348     101410939  2019           21              10     6       4
 128349     110210463  2019           16               5     3       2
 128350     102710581  2019           36              31    28       3
 128351     109810365  2019           21              13     7       6

         final_score_012  final_rank_012  final_score_018  final_rank_018  \
 0             262.81795        724933.0              NaN             NaN
 1             293.29473        971556.0        293.40152        970029.0
 2             288.33366       1040650.0        288.64722       1036166.0
 3             316.98351             NaN              NaN             NaN
 4             291.58874             NaN        291.70333             NaN
 ...                 ...             ...              ...             ...
 128347              NaN             NaN              NaN             NaN
 128348              NaN             NaN              NaN             NaN
 128349              NaN             NaN              NaN             NaN
 128350              NaN             NaN              NaN             NaN
 128351              NaN             NaN              NaN             NaN

         initial_placement_rate  not_registered  additional_placement  \
 0                        100.0               3                     4
 1                        100.0               9                    10
 2                        100.0               9                     9
 3                         88.9               2                     1
 4                         98.1               8                     9
 ...                        ...             ...                   ...
 128347                    50.0               0                     3
 128348                    47.6               0                     2
 128349                    31.3               1                     0
 128350                    86.1               0                     3
 128351                    61.9               2                     0

         avg_obp_012  avg_obp_018
 0           360.275          NaN
 1           368.353      364.254
 2           377.628      375.708
 3           386.365          NaN
 4           389.920      378.331
 ...             ...          ...
 128347      361.713          NaN
 128348      361.435          NaN
 128349      374.300          NaN
 128350      358.837          NaN
 128351      382.819          NaN

 [128352 rows x 15 columns],
 'department_tag':        program_code  tag_id
 0         101490698       6
 1         207650829       8
 2         207650874       3
 3         205090084       8
 4         105650969      20
 ...             ...     ...
 27009     101190619      13
 27010     101551495      13
 27011     101990106      13
 27012     110290276      13
 27013     103410933      13

 [27014 rows x 2 columns],
 'department_year':         program_code  year_id
 0          103390230        6
 1          108690161        1
 2          108690161        2
 3          108690161        3
 4          108690161        4
 ...              ...      ...
 128347     110210463        3
 128348     110210463        4
 128349     110210463        5
 128350     110210463        6
 128351     105290179        6

 [128352 rows x 2 columns],
 'faculty_name':       faculty_name_id                           faculty_name
 0                   1                 Fen-Edebiyat Fakültesi
 1                   2          Serinhisar Meslek Yüksekokulu
 2                   3              Espiye Meslek Yüksekokulu
 3                   4             Şaphane Meslek Yüksekokulu
 4                   5             Türkeli Meslek Yüksekokulu
 ...               ...                                    ...
 1127             1128           Veteriner Fakültesi (Ereğli)
 1128             1129             Ceyhan Veteriner Fakültesi
 1129             1130            Veteriner Fakültesi (Kiraz)
 1130             1131              Milas Veteriner Fakültesi
 1131             1132  Kaman Uygulamalı Bilimler Yüksekokulu

 [1132 rows x 2 columns],
 'lesson':     lesson_id                       lesson_name exam_type  max_questions
 0           1                      AYT Biyoloji       AYT             13
 1           2                    AYT Coğrafya-1       AYT              6
 2           3                    AYT Coğrafya-2       AYT             11
 3           4  AYT Din Kültürü ve Ahlak Bilgisi       AYT              6
 4           5                 AYT Felsefe Grubu       AYT             12
 5           6                         AYT Fizik       AYT             14
 6           7                         AYT Kimya       AYT             13
 7           8                     AYT Matematik       AYT             40
 8           9                       AYT Tarih-1       AYT             10
 9          10                       AYT Tarih-2       AYT             11
 10         11        AYT Türk Dili ve Edebiyatı       AYT             24
 11         12                 TYT Fen Bilimleri       TYT             20
 12         13               TYT Temel Matematik       TYT             40
 13         14               TYT Sosyal Bilimler       TYT             20
 14         15                        TYT Türkçe       TYT             40
 15         16                   YDT Yabancı Dil       YDT             80,
 'holarship_type':    scholarship_type_id scholarship_type
 0                    1         Ücretsiz
 1                    2       AÖ-Ücretli
 2                    3           Burslu
 3                    4    %75 İndirimli
 4                    5       UÖ-Ücretli
 5                    6    %50 İndirimli
 6                    7       İÖ-Ücretli
 7                    8          Ücretli
 8                    9    %25 İndirimli
 9                   10       UE-Ücretli,
 'ore_type':    score_type_id score_type
 0              1        SÖZ
 1              2        TYT
 2              3        SAY
 3              4         EA
 4              5        DİL,
 'tag':     tag_id              tag
 0        1    %25 İndirimli
 1        2    %50 İndirimli
 2        3    %75 İndirimli
 3        4          Almanca
 4        5           Arapça
 5        6      Açıköğretim
 6        7         Bulgarca
 7        8           Burslu
 8        9            Erkek
 9       10         Ermenice
 10      11           Farsça
 11      12        Fransızca
 12      13     KKTC Uyruklu
 13      14           Korece
 14      15              Kız
 15      16            Lehçe
 16      17         M.T.O.K.
 17      18        MSB Adına
 18      19            Rusça
 19      20  Uzaktan Öğretim
 20      21            Çince
 21      22          Ücretli
 22      23         İB Adına
 23      24        İngilizce
 24      25       İspanyolca
 25      26        İtalyanca
 26      27               İÖ,
 'universities_normalized':      university_id                                    university_name  \
 0              255                          ABDULLAH GÜL ÜNİVERSİTESİ
 1              204          ACIBADEM MEHMET ALİ AYDINLAR ÜNİVERSİTESİ
 2              174                              ADA KENT ÜNİVERSİTESİ
 3              196  ADANA ALPARSLAN TÜRKEŞ BİLİM VE TEKNOLOJİ ÜNİV...
 4              321                              ADIYAMAN ÜNİVERSİTESİ
 ..             ...                                                ...
 232            338                              YEDİTEPE ÜNİVERSİTESİ
 233            222                         YILDIZ TEKNİK ÜNİVERSİTESİ
 234            269                          YOZGAT BOZOK ÜNİVERSİTESİ
 235            229                        YÜKSEK İHTİSAS ÜNİVERSİTESİ
 236            326               ZONGULDAK BÜLENT ECEVİT ÜNİVERSİTESİ

     old_name  university_type_id  university_city_id
 0        NaN                   1                   1
 1        NaN                   2                   2
 2        NaN                   3                   3
 3        NaN                   1                   4
 4        NaN                   1                   5
 ..       ...                 ...                 ...
 232      NaN                   2                   2
 233      NaN                   1                   2
 234      NaN                   1                  81
 235      NaN                   2                  12
 236      NaN                   1                  82

 [237 rows x 5 columns],
 'university_citie':     university_city_id       city
 0                    1    KAYSERİ
 1                    2   İSTANBUL
 2                    3   YURTDIŞI
 3                    4      ADANA
 4                    5   ADIYAMAN
 ..                 ...        ...
 77                  78       UŞAK
 78                  79        VAN
 79                  80     YALOVA
 80                  81     YOZGAT
 81                  82  ZONGULDAK

 [82 rows x 2 columns],
 'university_type':    university_type_id university_type
 0                   1          devlet
 1                   2           vakif
 2                   3            kktc
 3                   4       yurt_disi,
 'year':    year_id  year
 0        1  2019
 1        2  2020
 2        3  2021
 3        4  2022
 4        5  2023
 5        6  2024}

In [85]:
tn=[]
cn=[]
rn=[]
for i in name:
    print(f'{i}>> {name[i].columns.to_list()} \n')
    tn.append(i)
    cn.append(name[i].shape[1])
    rn.append(name[i].shape[0])
df={'tablename':tn, 'coln':cn,'rown' :rn}

departments_normalized>> ['program_code', 'department_name_id', 'faculty_name_id', 'university_id', 'score_type_id', 'scholarship_type_id', 'is_undergraduate', 'years', 'tags']

department_avg_net_stat>> ['program_code', 'year', 'lesson_id', 'coefficient_type', 'average_net']

department_name>> ['department_name_id', 'department_name']

department_placed_preference>> ['program_code', 'year', 'placed_count', 'placed_pref_rank_avg', 'placed_top_1_pref_count', 'placed_top_3_pref_count', 'placed_top_10_pref_count']

department_placed_preference_rank>> ['program_code', 'year', 'rank_level', 'count']

department_placed_pref_uni_type>> ['program_code', 'year', 'university_type_id', 'placed_pref_count']

department_preference>> ['program_code', 'year', 'total_preferences', 'demand_per_quota', 'avg_preference_rank', 'top_1_pref_count', 'top_3_pref_count', 'top_9_pref_count']

department_preference_rank>> ['program_code', 'year', 'rank_level', 'count']

department_stat>> ['program_code', 'year', 'total_quota', 'total_enrolled', 'male', 'female', 'final_score_012', 'final_rank_012', 'final_score_018', 'final_rank_018', 'initial_placement_rate', 'not_registered', 'additional_placement', 'avg_obp_012', 'avg_obp_018']

department_tag>> ['program_code', 'tag_id']

department_year>> ['program_code', 'year_id']

faculty_name>> ['faculty_name_id', 'faculty_name']

lesson>> ['lesson_id', 'lesson_name', 'exam_type', 'max_questions']

holarship_type>> ['scholarship_type_id', 'scholarship_type']

ore_type>> ['score_type_id', 'score_type']

tag>> ['tag_id', 'tag']

universities_normalized>> ['university_id', 'university_name', 'old_name', 'university_type_id', 'university_city_id']

university_citie>> ['university_city_id', 'city']

university_type>> ['university_type_id', 'university_type']

year>> ['year_id', 'year']

In [86]:
tableinfo=pd.DataFrame(df)

In [87]:
tableinfo

                            tablename  coln     rown
0              departments_normalized     9    32505
1             department_avg_net_stat     5  1009788
2                     department_name     2      733
3        department_placed_preference     7   128352
4   department_placed_preference_rank     4  3080448
5     department_placed_pref_uni_type     4   513408
6               department_preference     8   128352
7          department_preference_rank     4  1283520
8                     department_stat    15   128352
9                      department_tag     2    27014
10                    department_year     2   128352
11                       faculty_name     2     1132
12                             lesson     4       16
13                     holarship_type     2       10
14                           ore_type     2        5
15                                tag     2       27
16            universities_normalized     5      237
17                   university_citie     2       82
18                    university_type     2        4
19                               year     2        6

In [80]:
FDF = pd.merge(name['departments_normalized'],name['department_avg_net_stat'],
               on = 'program_code',how='inner')

In [81]:
FDF = pd.merge(FDF,name['department_placed_preference'],on='program_code',how='inner')

In [84]:
FDF = FDF.merge(name['department_placed_preference_rank'],on='program_code',how='inner').merge(name['department_placed_pref_uni_type'],on='program_code',how='inner')

KeyboardInterrupt:

In [22]:
ta1=name['department_name']

In [23]:
ta2=name['departments_normalized']

In [30]:
merged_df1 = pd.merge(ta1, ta2, on='department_name_id', how='inner')

In [28]:
ta3=name['faculty_name']

In [35]:
marged_df2=pd.merge(ta2,ta3,on='faculty_name_id',how='inner')

In [36]:
ta4=name['department_avg_net_stat']

In [37]:
ta5=name['lesson']

In [39]:
merged_df3=pd.merge(ta4,ta5,on='lesson_id',how='inner')

In [40]:
ta6=name['holarship_type']

In [45]:
marged_df4=pd.merge(ta6,ta2,on='scholarship_type_id', how='inner')

In [48]:
ta7=name['ore_type']

In [49]:
marged_df5=pd.merge(ta7,ta2,on='score_type_id',how='inner')

In [50]:
ta8=name['department_tag']

In [51]:
ta9=name['tag']

In [52]:
marged_df5=pd.merge(ta8,ta9,on='tag_id', how='inner')

In [53]:
ta10=name['universities_normalized']

In [54]:
ta11=name['university_citie']

In [56]:
marged_df6=pd.merge(ta10,ta11,on='university_city_id',how= 'inner')

In [57]:
ta12=name['university_type']

In [58]:
marged_df7=pd.merge(ta10,ta12,on='university_type_id',how='inner')

In [59]:
ta13=name['year']

In [60]:
marged_df8=pd.merge(ta4,ta13,on='year',how='inner')

In [62]:
marged_df8.shape

(1009788, 6)

In [64]:
merged_df

,department_name_id,department_name,program_code,faculty_name_id,university_id,score_type_id,scholarship_type_id,is_undergraduate,years,tags
0,1,Abaza Dili ve Edebiyatı,103390230,1,115,1,1,True,2024,NaN
1,2,Acil Durum ve Afet Yönetimi,108690161,2,147,2,1,False,"2019,2020,2021,2022,2023,2024",NaN
2,2,Acil Durum ve Afet Yönetimi,104590132,3,242,2,1,False,"2020,2021,2022,2023,2024",NaN
3,2,Acil Durum ve Afet Yönetimi,103290214,4,164,2,1,False,"2020,2021,2022,2023,2024",NaN
4,2,Acil Durum ve Afet Yönetimi,109190059,5,162,2,1,False,"2021,2022,2023,2024",NaN
...,...,...,...,...,...,...,...,...,...,...
32500,733,Zootekni,106010337,275,399,3,1,True,"2019,2020,2021,2022,2023,2024",NaN
32501,733,Zootekni,107910219,275,309,3,1,True,"2019,2020,2021,2022,2023,2024",NaN
32502,733,Zootekni,109810365,275,278,3,1,True,"2019,2020,2021,2022,2023,2024",NaN
32503,733,Zootekni,110210463,275,304,3,1,True,"2019,2020,2021,2022,2023,2024",NaN
32504,733,Zootekni,105290179,275,119,3,1,True,2024,NaN

In [65]:
marged_df2

,program_code,department_name_id,faculty_name_id,university_id,score_type_id,scholarship_type_id,is_undergraduate,years,tags,faculty_name
0,103390230,1,1,115,1,1,True,2024,NaN,Fen-Edebiyat Fakültesi
1,108690161,2,2,147,2,1,False,"2019,2020,2021,2022,2023,2024",NaN,Serinhisar Meslek Yüksekokulu
2,104590132,2,3,242,2,1,False,"2020,2021,2022,2023,2024",NaN,Espiye Meslek Yüksekokulu
3,103290214,2,4,164,2,1,False,"2020,2021,2022,2023,2024",NaN,Şaphane Meslek Yüksekokulu
4,109190059,2,5,162,2,1,False,"2021,2022,2023,2024",NaN,Türkeli Meslek Yüksekokulu
...,...,...,...,...,...,...,...,...,...,...
32500,106010337,733,275,399,3,1,True,"2019,2020,2021,2022,2023,2024",NaN,Ziraat Fakültesi
32501,107910219,733,275,309,3,1,True,"2019,2020,2021,2022,2023,2024",NaN,Ziraat Fakültesi
32502,109810365,733,275,278,3,1,True,"2019,2020,2021,2022,2023,2024",NaN,Ziraat Fakültesi
32503,110210463,733,275,304,3,1,True,"2019,2020,2021,2022,2023,2024",NaN,Ziraat Fakültesi
32504,105290179,733,275,119,3,1,True,2024,NaN,Ziraat Fakültesi

In [66]:
merged12 = pd.merge(merged_df,marged_df2,on="department_name_id",how='inner')

In [67]:
merged12.shape

(6698609, 19)

In [73]:
merged12 = pd.merge(merged12,ta6,on="scholarship_type_id",how='inner')

KeyError: 'scholarship_type_id'

In [76]:
merged12

,department_name_id,department_name,program_code_x,faculty_name_id_x,university_id_x,score_type_id_x,scholarship_type_id_x,is_undergraduate_x,years_x,tags_x,program_code_y,faculty_name_id_y,university_id_y,score_type_id_y,scholarship_type_id_y,is_undergraduate_y,years_y,tags_y,faculty_name
0,1,Abaza Dili ve Edebiyatı,103390230,1,115,1,1,True,2024,NaN,103390230,1,115,1,1,True,2024,NaN,Fen-Edebiyat Fakültesi
1,2,Acil Durum ve Afet Yönetimi,108690161,2,147,2,1,False,"2019,2020,2021,2022,2023,2024",NaN,108690161,2,147,2,1,False,"2019,2020,2021,2022,2023,2024",NaN,Serinhisar Meslek Yüksekokulu
2,2,Acil Durum ve Afet Yönetimi,108690161,2,147,2,1,False,"2019,2020,2021,2022,2023,2024",NaN,104590132,3,242,2,1,False,"2020,2021,2022,2023,2024",NaN,Espiye Meslek Yüksekokulu
3,2,Acil Durum ve Afet Yönetimi,108690161,2,147,2,1,False,"2019,2020,2021,2022,2023,2024",NaN,103290214,4,164,2,1,False,"2020,2021,2022,2023,2024",NaN,Şaphane Meslek Yüksekokulu
4,2,Acil Durum ve Afet Yönetimi,108690161,2,147,2,1,False,"2019,2020,2021,2022,2023,2024",NaN,109190059,5,162,2,1,False,"2021,2022,2023,2024",NaN,Türkeli Meslek Yüksekokulu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6698604,733,Zootekni,105290179,275,119,3,1,True,2024,NaN,106010337,275,399,3,1,True,"2019,2020,2021,2022,2023,2024",NaN,Ziraat Fakültesi
6698605,733,Zootekni,105290179,275,119,3,1,True,2024,NaN,107910219,275,309,3,1,True,"2019,2020,2021,2022,2023,2024",NaN,Ziraat Fakültesi
6698606,733,Zootekni,105290179,275,119,3,1,True,2024,NaN,109810365,275,278,3,1,True,"2019,2020,2021,2022,2023,2024",NaN,Ziraat Fakültesi
6698607,733,Zootekni,105290179,275,119,3,1,True,2024,NaN,110210463,275,304,3,1,True,"2019,2020,2021,2022,2023,2024",NaN,Ziraat Fakültesi
6698608,733,Zootekni,105290179,275,119,3,1,True,2024,NaN,105290179,275,119,3,1,True,2024,NaN,Ziraat Fakültesi