In [2]:
import os

In [4]:
os.listdir()

['.git', '.ipynb_checkpoints', 'data', 'EDA.ipynb']

In [5]:
os.listdir('data/')

['01_university_admissions_turkey_2019_2024.csv',
 'archive.zip',
 'departments_normalized.csv',
 'department_avg_net_stats.csv',
 'department_names.csv',
 'department_placed_preferences.csv',
 'department_placed_preference_ranks.csv',
 'department_placed_pref_uni_type.csv',
 'department_preferences.csv',
 'department_preference_ranks.csv',
 'department_stats.csv',
 'department_tags.csv',
 'department_years.csv',
 'faculty_names.csv',
 'lessons.csv',
 'scholarship_types.csv',
 'score_types.csv',
 'tags.csv',
 'universities_normalized.csv',
 'university_cities.csv',
 'university_types.csv',
 'years.csv']

In [6]:
os.remove('data/01_university_admissions_turkey_2019_2024.csv')

In [8]:
os.remove('data/archive.zip')

In [9]:
import pandas as pd

In [10]:
filename = os.listdir('data/')

In [11]:
filename

['departments_normalized.csv',
 'department_avg_net_stats.csv',
 'department_names.csv',
 'department_placed_preferences.csv',
 'department_placed_preference_ranks.csv',
 'department_placed_pref_uni_type.csv',
 'department_preferences.csv',
 'department_preference_ranks.csv',
 'department_stats.csv',
 'department_tags.csv',
 'department_years.csv',
 'faculty_names.csv',
 'lessons.csv',
 'scholarship_types.csv',
 'score_types.csv',
 'tags.csv',
 'universities_normalized.csv',
 'university_cities.csv',
 'university_types.csv',
 'years.csv']

In [15]:
cud = %pwd

In [21]:
name={}
for i in range(len(filename)):
    name["df"+str(i+1)]=pd.read_csv(f'data/{filename[i]}',low_memory=False)

In [24]:
name['df1']

,program_code,department_name_id,faculty_name_id,university_id,score_type_id,scholarship_type_id,is_undergraduate,years,tags
0,103390230,1,1,115,1,1,True,2024,NaN
1,108690161,2,2,147,2,1,False,"2019,2020,2021,2022,2023,2024",NaN
2,104590132,2,3,242,2,1,False,"2020,2021,2022,2023,2024",NaN
3,103290214,2,4,164,2,1,False,"2020,2021,2022,2023,2024",NaN
4,109190059,2,5,162,2,1,False,"2021,2022,2023,2024",NaN
...,...,...,...,...,...,...,...,...,...
32500,106010337,733,275,399,3,1,True,"2019,2020,2021,2022,2023,2024",NaN
32501,107910219,733,275,309,3,1,True,"2019,2020,2021,2022,2023,2024",NaN
32502,109810365,733,275,278,3,1,True,"2019,2020,2021,2022,2023,2024",NaN
32503,110210463,733,275,304,3,1,True,"2019,2020,2021,2022,2023,2024",NaN
32504,105290179,733,275,119,3,1,True,2024,NaN